doctype html
html
	head
		title WandoTest
		meta(charset="UTF-8")
		link(href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet", type="text/css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
	body
		div.container
			h2 Registro Alumno
			form(method="post", action="/alumno" id="frmRegistro" class="form-horizontal")
				span!= msj
				div.form-group
					label.control-label.col-sm-2 Código Matricula:
					div.col-sm-2
						input(type="text", name="codigomatricula", required="required", class="form-control", aria-describedby="basic-addon1" maxlength="20")
				div.form-group
					label.control-label.col-sm-2 Código Interno:
					div.col-sm-3
						input(type="text", name="codigointerno", required="required", class="form-control", aria-describedby="basic-addon1" maxlength="20")
				div.form-group
					label.control-label.col-sm-2 Nombres y Apellidos:
					div.col-sm-3
						input(type="text", name="nombres", required="required", class="form-control", aria-describedby="basic-addon1" maxlength="80")
				div.form-group
					label.control-label.col-sm-2 Aula:
					div.col-sm-3
						input(type="text", name="aula", required="required", class="form-control", aria-describedby="basic-addon1" maxlength="4")
				div.form-group
					div.col-sm-offset-2.col-sm-1
						input(type="submit", value="Registrar",class="btn btn-success dropdown-toggle")
					div.col-sm-1
						a(class='btn btn-primary', href='/listar-alumno') Ver Lista