extends _bootstrap
block body
	.container
		.row
			.col-md-5.col-sm-6.col-xs-12
				h2 Lista de Asistencia
			.col-md-5.col-sm-6.col-xs-12
			.col-md-2.col-sm-6.col-xs-12
				+btn-success("Exportar Excel")
			.div#dvData
				+table(["#","Código","Asistencia"],resultado)

	script.
		$(document).ready(function() {
			$(".btn-success").click(function(e) {
				//getting values of current time for generating the file name
				var dt = new Date();
				var day = dt.getDate();
				var month = dt.getMonth() + 1;
				var year = dt.getFullYear();
				var hour = dt.getHours();
				var mins = dt.getMinutes();
				var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
				//creating a temporary HTML link element (they support setting file names)
				var a = document.createElement('a');
				//getting data from our div that contains the HTML table
				var data_type = 'data:application/vnd.ms-excel';
				var table_div = document.getElementById('dvData');
				var table_html = table_div.outerHTML.replace(/ /g, '%20');
				a.href = data_type + ', ' + table_html;
				//setting the file name
				a.download = 'exported_table_' + postfix + '.xls';
				//triggering the function
				a.click();
				//just in case, prevent default behaviour
				e.preventDefault();
			});
		});